__pycache__
.ipynb_checkpoints
/data/.ipynb_checkpoints
.DS_Store
*.blg
*.bbl
*.fdb_latexmk
*.aux
*.synctex.gz
*.fls
/decorrelation/mixed_unitaries.log
/decorrelation/mixed_unitaries.out
/.venv/*
.idea
/.idea
